body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.header {
    display: flex;
    justify-content: space-between;
    font-size: 20pt;
    padding: 15px;
}

.header button {
    margin-right: 24px;
    border: none;
    background-color: #156746;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 10px;
}

.main {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, min-content));
    gap: 20px;
}

.book-card {
    height: 30vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 20px 5px 20px;
    background-color: #f1f5f9;
    border: 1px solid #64748b;
    box-shadow: 5px 5px 3px #64748b;
}

.book-details .title {
    font-weight: bold;
}

.book-details .author {
    font-size: 11pt;
}


.pages {
    color: gray;
    align-self: start;
    font-size: 10pt;
    font-style: italic;
}

.book-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.book-buttons button {
    background: none;
    border: none;
}

.book-cover {
    height: 110px;
}

.icon {
    width: 20px;
}

.new-book-modal {
    width: 40vw;
    height: 30vh;
    border: 1px solid #156746;
    border-radius: 15px;
    padding: 30px 45px;
} 

.new-book-modal > div {
    font-weight: bold;
    margin-bottom: 45px;
}

form {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 45px;
}

form ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    gap: 12px;
}

form ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 12px;
    row-gap: 3px;
    align-items: center;
}

li label {
    justify-self: end;
}

.checkbox-label {
    justify-self: start;
}

#new-read {
    justify-self: end;
}

.modal-buttons {  
    display: flex;
    justify-content: center;
    gap: 40px;
}

.modal-buttons button {
    border: none;
    background-color: #156746;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    border-radius: 10px;;
}

.error {
    color: red;
}

.error::after {
    content: 'Please enter a valid number of pages';
    color: red;
    font-size: 8pt;
    font-style: italic;
    grid-column: 2 / 3;
}